
@{
    ViewBag.Title = "Template Not Found";
}

<div class="mainImage">
    <img src="~/Content/MainSite/Images/Missing-plan.jpg" />
</div>

<section class="error clearAndExpandIfSmall">

    <h1>Whoops, we can not find the template you've requested. <img src="~/Content/MainSite/Images/Crying-Emotion.png" /></h1>
    <p>Sorry, but we can not find the template.</p>
   
    <p>If you think there has been a fault or error then please @Html.ActionLink("contact us direct", "Contact", "Home").</p>
    <p>&nbsp;</p>
    <p>
        Of course we'd love to hear your @Html.ActionLink("feedback", "Contact", "Home") and ideas for improving the site.
        @Html.ActionLink("Create a new stage plan for your band", "Index", "Stageplan").
    </p>

</section>