/*background colour= #912f2f*/

/* The main blue colour = #18a0ec */
/* The main red colour = #a52a2a */


@font-face {
    font-family: 'AdventPro';
    src: url(/Content/Fonts/AdventPro-Regular.ttf);
}

@font-face {
    font-family: 'AdventProBold';
    src: url(/Content/Fonts/AdventPro-Bold.ttf);
}


body {
    height: 99.9%;
    padding: 0;
    margin: 0;
    background: white;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    font-family: AdventPro;
}

.popUpMask {
    position: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    height: 100%;
    background-image: url("/Content/Stageplan/Images/StageplanRedBackground.png");
    filter: blur(5px);
    opacity: 0.8;
}



.popUp {
    min-width: 85%;
    max-width: 85%;
    max-height: 70%;
    overflow: auto;
    background-color: rgba(50,50,50,.9);
    border-radius: 5px;
    box-shadow: -2px 2px 2px #000;
    position: absolute;
    left: 5%;
    top: 50px;
    padding: 2%;
    color: #f1f1f1;
    z-index: 999999;
}

    .popUp .closeButton {
        background-color: #009fe3;
        color: #fff;
        width: 45px;
        height: 43px;
        text-align: center;
        border-radius: 50%;
        float: right;
        cursor: pointer;
        border: 2px solid #a52a2a;
        margin-bottom: 10px;
        font-size: 1.8em;
    }

        .popUp .closeButton:hover {
            background-color: #a52a2a;
            border: 2px solid #009fe3;
        }

.popUpForeground {
    background-color: #d3d2d3;
    border: 2px solid #023e60;
    border-radius: 20px;
    color: #646262;
    padding-top: 10px;
}

.instrumentsOnStage {
    position: absolute;
    height: 100%;
}


h1, h2, h4, .title, .lightText {
    color: #f1f1f1;
}

h1, h2, h4, .title {
    font-size: 1.4em;
}

.stageplanDetails h1, .stageplanDetails h2, .stageplanDetails h4, .stageplanDetails .title, .stageplanDetails .lightText {
    color: #313131;
}
.lightText {
    font-size: 1.0em;
}


.center {
    text-align: center;
}

.recentBand {
    max-width: 20%;
    margin-left: 40%;
    margin-bottom: 0;
}

#menu {
    color: #f1f1f1;
    padding: 1%;
    background: #18a0ec;
    max-width: 150px;
    z-index: 999999;
}

.stageplanDetails a {
    cursor: pointer;
    color: #18a0ec;
    text-decoration: none;
}

    .stageplanDetails a:hover, nav ul li a:hover {
        color: #34ceff;
    }


.stage {
    width: 100%;
    height: 100%;
}

.crowdImage {
    background-color: #000;
    bottom: 0;
    position: absolute;
}

    .crowdImage img {
        max-width: 100%;
        margin-top: -60px;
    }

.blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}


.popUp::after {
    content: " ";
    display: block;
    height: 10px;
}



.popUp ul li {
    display: inline-block;
    margin: 5px 15px;
    text-align: center;
}

    .popUp ul li img {
        margin-bottom: 5px;
        max-width: 80px;
        cursor: pointer;
    }

        .popUp ul li img:hover {
            -webkit-box-shadow: 0px 0px 1px 2px #18a0ec;
            -moz-box-shadow: 0px 0px 1px 2px #18a0ec;
            box-shadow: 0px 0px 1px 2px #18a0ec;
            border-radius: 50%;
        }

        .popUp ul li img.selected {
            -webkit-box-shadow: 0px 0px 1px 4px #18a0ec;
            -moz-box-shadow: 0px 0px 1px 4px #18a0ec;
            box-shadow: 0px 0px 1px 4px #18a0ec;
            border-radius: 50%;
        }

.hide {
    visibility: hidden;
    display: none;
}

.bandName {
    width: 96%;
}


ul li a {
    color: white;
}

ul {
    list-style: none;
}

    ul li img {
        text-align: center;
    }

.instrumentInfo {
    background: #fff;
    border: 1px solid #000;
    text-align: center;
}

    .instrumentInfo img {
        max-width: 50px;
        z-index: 100;
    }

    .instrumentInfo .editButton {
        min-height: 30px;
        min-width: 60px;
        cursor: pointer;
        padding: 1.5%;
    }

    .instrumentInfo:hover {
        box-shadow: 0px 0px 15px 2px #000;
        cursor: move;
    }

.fixedPosition {
    background: #ff0;
}

    .fixedPosition:hover {
        box-shadow: none;
        cursor: default;
    }

.enterBandDetails {
    width: 100%;
}



.defaultEmptyStagePlan {
    text-align: center;
    color: #18a0ec;
    font-size: 1.2em;
}


.urlBox {
    background-color: #fff;
    text-align: center;
    font-size: 1.3em;
}

.featureBox {
    background-color: #fff;
    border: solid 20px #18a0ec;
    text-align: center;
    padding: 20px;
}

.copyUrl img {
    max-width: 20px;
    cursor: pointer;
    margin-left: 15px;
}

.stageplanDetails {
    width: 94%;
    height: auto;
    background-color: #fff;
    margin: 2% auto;
    padding: 1%;
    border-radius: 7px;
}

border {
    border: 2px solid #999;
}



/*.sharePlan input, textarea {
    min-width: 80%;
    max-width: 90%;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    padding: 15px;
}

.sharePlan textarea {
    min-height: 150px;
}*/


.socialMediaButtons {
    padding-top: 10px;
}

.ratings img {
    max-width: 50px;
}

/*.ratings textarea{
    min-height:150px;
}*/


.ratingArea, .sharePlan {
    width: 90%;
}

    .ratingArea textarea {
        min-height: 140px;
    }


.tabs {
    width: 99%;
}



    .tabs ul {
        padding: 20px;
        margin: 0;
    }

        .tabs ul li:nth-child(0) {
            border-left: solid 1px #ccc;
        }

        .tabs ul li {
            list-style: none;
            float: left;
            width: 25%;
            /*border-right:solid 1px #ccc;*/
            outline: solid 1px #ccc;
            background-color: #f0f0f0;
        }

            .tabs ul li div {
                padding: 15px;
                color: #616161;
            }

                .tabs ul li div:nth-child(1) {
                    text-align: center;
                    font-weight: bold;
                    font-size: 1.3em;
                }

                .tabs ul li div:nth-child(2) {
                    text-align: left;
                    font-weight: normal;
                    font-size: 1.0em;
                    background: white;
                }

    .tabs .body {
        clear: both;
        width: 90%;
        min-height: 100px;
        padding: 4%;
        visibility: visible;
    }

.selectedTab {
    background: #8ad2fa;
}

.tabs ul li div:nth-child(1):hover {
    background: #18a0ec;
    cursor: pointer;
}

.savePdf img {
    max-width: 40px;
}


.flipImage{
     transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -khtml-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
}