
@{
    ViewBag.Title = "Index";
}

<div class="mainImage">
    <img src="~/Content/MainSite/Images/Venue.jpg" />
</div>

<section>
    <h1>Stage plan Vs Stage plot</h1>
    <p>Todo landing page exist...@Html.ActionLink("Read more", "Stage_Plan_Vs_Stage_Plot", "Blog")</p>
</section>

<section>
    <h1>What an engineer wants to know</h1>
    <p>Todo landing page exist...@Html.ActionLink("Read more", "What_An_Engineer_Wants_To_Know", "Blog")</p>
</section>
