
@{
    ViewBag.Title = "Stage Plan Vs Stage Plot";
}

<div class="mainImage">
    <img src="~/Content/MainSite/Images/Venue.jpg" />
</div>

<section>
    <h1>Stage plan Vs Stage plot</h1>
    <p>It is the same thing to us. Some people call it a stage plat, others a plan but there is no difference in the definition. In fact, the online dictionaries don't have a definition for either (at least, not at the time of this article). So what is a stage plan? </p>

    <p><blockquote>A stage plot is a graphic representation that illustrates your band's setup when you perform live, your placement on stage, what gear you use, and some other helpful information. <cite>CD Baby</cite></blockquote></p>
    <p>Yup, we'd agree with that. And with stage-plan.com we've tried to ensure you can put in as much useful information as you can. See our blog post about @Html.ActionLink("What do I need to include in my stage plot", "What_Do_I_Need_To_Include_In_My_Stage_Plan", "Blog") </p>


    <p>&nbsp;<br />@Html.ActionLink("Create a free stage plan", "Index", "Stageplan", null, new { @class = "stagePlanButton blueBg whiteText", id = "stagePlanButton" })</p>
</section>

<script src="~/Content/Stageplan/Javascript/helpers.js"></script>

<script src="~/Content/MainSite/Javascript/stagePlanButton.js"></script>
<script>        document.getElementById("stagePlanButton").className += " " + stagePlanButton.getCss();

</script>