

<div id="addInstrumentPopUp" class="popUp hide">

    <div id="instruementsPanel">

        <h2>Select Instrument:</h2>

        <ul class="popUpForeground">
            <li><img src="~/Content/Stageplan/Images/Instruments/Mic-Vocal.svg" data-text="Vocal Microphone" id="VocalMicrophone" data-helper="Male or female vocalist, or backing vocalist, microphone model or if you're also using this microphone for another instrument etc" data-rotate-limit="horizontal" /><br />Vocal Microphone<br /></li>

            <li><img src="~/Content/Stageplan/Images/Instruments/Mic-Clip.svg" data-text="Clip Microphone" id="ClipMicrophone" data-helper="The instrument that requires this microphone, microphone model (if required) etc" data-rotate-limit="full" /><br />Clip Microphone<br /></li>           

            <li><img src="~/Content/Stageplan/Images/Instruments/Mic.svg" data-text="Microphone" id="Microphone" data-helper="Male or female vocalist,  microphone model or detail if you're also using this as a microphone for an instrument etc" data-rotate-limit="full" /><br />Microphone<br /></li>

            <li><img src="~/Content/Stageplan/Images/Instruments/Drums.svg" data-text="Drums" id="Drums" data-helper="How many toms, cymbals, kick drums etc and which pieces need microphones"  data-rotate-limit="horizontal"/><br />Drums<br /></li>

            <li><img src="~/Content/Stageplan/Images/Instruments/Bass.svg" data-text="Bass" id="Bass" data-helper="DI, microphone or both or any effects the sound engineer needs to be aware of"  data-rotate-limit="horizontal"/><br />Bass<br /></li>

            <li><img src="~/Content/Stageplan/Images/Instruments/Acoustic-Guitar.svg" data-text="Acoustic Guitar" id="AcousticGuitar" data-helper="DI, microphone or both or any effects the sound engineer needs to be aware of"  data-rotate-limit="horizontal"/><br />Acoustic Guitar<br /></li>

            <li><img src="~/Content/Stageplan/Images/Instruments/Guitar.svg" data-text="Electric Guitar" id="ElectricGuitar" data-helper="Number and size of cabinets, microphone(s) and any effects the sound engineer needs to be aware of"  data-rotate-limit="horizontal"/><br />Electric Guitar<br /></li>

            <li><img src="~/Content/Stageplan/Images/Instruments/Steel-Guitar.svg" data-text="Steel Guitar" id="Steelguitar" data-helper="Number and size of cabinets, microphone(s) and any effects the sound engineer needs to be aware of"  data-rotate-limit="horizontal"/><br />Steel Guitar<br /></li>

            <li><img src="~/Content/Stageplan/Images/Instruments/Keyboards.svg" data-text="Keyboards" id="Keyboards" data-helper="Mono or stereo, DI if required"  data-rotate-limit="horizontal"/><br />Keyboards<br /></li>

            <li><img src="~/Content/Stageplan/Images/Instruments/Piano.svg" data-text="Piano" id="Piano" data-helper="Microphone(s) if required"  data-rotate-limit="horizontal"/><br />Piano<br /></li>

            <li><img src="~/Content/Stageplan/Images/Instruments/Violin.svg" data-text="Violin" id="Violin" data-helper="Microphone(s) if required"  data-rotate-limit="horizontal"/><br />Violin<br /></li>

            <li><img src="~/Content/Stageplan/Images/Instruments/Viola.svg" data-text="Viola" id="Viola" data-helper="Microphone(s) if required" data-rotate-limit="horizontal" /><br />Viola<br /></li>

            <li><img src="~/Content/Stageplan/Images/Instruments/Cello.svg" data-text="Cello" id="Cello" data-helper="Microphone(s) if required" data-rotate-limit="horizontal" /><br />Cello<br /></li>

            <li><img src="~/Content/Stageplan/Images/Instruments/Double-Bass.svg" data-text="Double Bass" id="DoubleBass" data-helper="Microphone(s) if required"  data-rotate-limit="none"/><br />Double Bass<br /></li>

            <li><img src="~/Content/Stageplan/Images/Instruments/Saxophone.svg" data-text="Saxophone" id="Saxophone" data-helper="Microphone(s) if required"  data-rotate-limit="horizontal"/><br />Saxophone<br /></li>

            <li><img src="~/Content/Stageplan/Images/Instruments/Trumpet.svg" data-text="Trumpet" id="Trumpet" data-helper="Microphone(s) if required"  data-rotate-limit="horizontal"/><br />Trumpet<br /></li>

            <li><img src="~/Content/Stageplan/Images/Instruments/Trombone.svg" data-text="Trombone" id="Trombone" data-helper="Microphone(s) if required"  data-rotate-limit="horizontal"/><br />Trombone<br /></li>

            <li><img src="~/Content/Stageplan/Images/Instruments/Flute.svg" data-text="Flute" id="Flute" data-helper="Microphone(s) if required"  data-rotate-limit="horizontal"/><br />Flute<br /></li>

            <li><img src="~/Content/Stageplan/Images/Instruments/Tuba.svg" data-text="Tuba" id="Tuba" data-helper="Microphone(s) if required"  data-rotate-limit="horizontal"/><br />Tuba<br /></li>

            <li><img src="~/Content/Stageplan/Images/Instruments/DI-Box.svg" data-text="DI Box" id="DI-Box" data-helper="What instrument will use it, passive or active"  data-rotate-limit="horizontal"/><br />DI Box<br /></li>

            <li><img src="~/Content/Stageplan/Images/Instruments/Laptop.svg" data-text="Laptop" id="Laptop" data-helper="Any extra information"  data-rotate-limit="horizontal"/><br />Laptop<br /></li>

            <li><img src="~/Content/Stageplan/Images/Instruments/Monitor.svg" data-text="Monitor" id="Monitor" data-helper="Stage mix requirements for this monitor"  data-rotate-limit="horizontal"/><br />Monitor<br /></li>

            <li><img src="~/Content/Stageplan/Images/Instruments/Ear-Monitor.svg" data-text="Ear monitor" id="Ear-Monitor" data-helper="Stage mix requirements for this monitor"  data-rotate-limit="horizontal"/><br />Ear monitor<br /></li>

            <li><img src="~/Content/Stageplan/Images/Instruments/Speaker-01.svg" data-text="1 cone speaker" id="Speaker-01" data-helper="Any extra information"  data-rotate-limit="none"/><br />1 cone speaker<br /></li>

            <li><img src="~/Content/Stageplan/Images/Instruments/Speaker-02.svg" data-text="2 cone speaker" id="Speaker-02" data-helper="Any extra information, stereo or mono, how many mics required"  data-rotate-limit="none"/><br />2 cone speaker<br /></li>

            <li><img src="~/Content/Stageplan/Images/Instruments/Speaker-04.svg" data-text="4 cone speaker" id="Speaker-04" data-helper="Any extra information, stereo or mono, how many mics required"  data-rotate-limit="none"/><br />4 cone speaker<br /></li>

            <li><img src="~/Content/Stageplan/Images/Instruments/Two-pin-power-plug.svg" data-text="Power point" id="PowerPointTwo" data-helper="Enter information such as gang plug, number of sockets etc"  data-rotate-limit="full"/><br />Power point<br /></li>

            <li><img src="~/Content/Stageplan/Images/Instruments/Three-pin-power-plug.svg" data-text="Power point" id="PowerPointThree" data-helper="Enter information such as gang plug, number of sockets etc"  data-rotate-limit="full"/><br />Power point<br /></li>

            @*Keep other at bottom*@
            <li><img src="~/Content/Stageplan/Images/Instruments/Other.svg" data-text="Other" id="Other" data-helper="Enter as much information as possible such as instrument description and microphone requirements etc"  data-rotate-limit="none"/><br />Other<br /></li>        
        </ul>
    </div>


    <p>&nbsp;</p>
    <div class="infoBox">
        <h2>Instrument name: </h2>
        <input type="text" id="instrumentName" /><br />

        <div id="selectBandMemberName">
            <h2>Select band member name:</h2>
            <select id="addInstrumentPopUp_bandMemberNames"></select>
        </div>

        <div id="fixedPositionWrapper" class="fixedPositionWrapper"><br /><br />
            <label for="isFixedPosition" class="bold">Equiptment cannot be moved by band</label>
            <br /><br />       
            <input type="checkbox" id="isFixedPosition" />
        </div>

        <br />
        <br />

        <div id="venueExtraInformation">
            <h2>
                Venue Equipment Information:
            </h2>
            <textarea placeholder="Please enter as much information as possible (optional)" id="addVenueInstrumentExtraDetail"></textarea>
            <br />
            <br />
        </div>


        <div id="stageplanExtraInformation">
            <h2>
                Extra Information:
            </h2>
            <textarea placeholder="Please enter as much information as possible (optional)" id="addInstrumentExtraDetail"></textarea>
            <br />
            <br />
        </div>

       

        <input type="button" value="Save" id="saveEditButton" /><p>&nbsp;</p>

        <input type="button" value="Add" id="addNewInstrumentButton" /><p>&nbsp;</p>
        <input type="button" value="Cancel" id="cancelEditButton" /><p>&nbsp;</p>

        <input type="button" value="Delete" class="delete" id="deleteButton" />
    </div>
</div>
