

<div id="enterBandDetails" class="popUp enterBandDetails">

    <h2>Enter band name</h2>
    <input type="text" id="enterBandDetails_BandName" placeholder="Enter your band name"/>


    <h2>Enter your band member names</h2>
    <textarea id="enterBandDetails_BandMemberNames" placeholder="Enter each band member per line"></textarea>

    <br />
    <br />
    <br />
    <br />

    <input type="button" value="Continue" id="enterBandDetails_Submit" />

</div><!--close load stageplan pop up-->
