<p>Please note, we never store any credit card or payment details! Ever!</p>

    <div id="enterVenueDetails_Error"></div>
    <input type="text" id="enterVenueDetails_VenueName" placeholder="Enter the venue name"/>
    <br />    <br />

    <input type="text" id="enterVenueDetails_Email" placeholder="Enter venue email" data-required="true"/>
    <br />    <br />
   
    <input type="password" id="enterVenueDetails_Password" placeholder="Create venue account password" data-required="true"/>
    <br />    <br />
   
<input type="text" id="enterVenueDetails_URL" placeholder="Enter venue URL" data-required="true" />
<br />    <br />