

<div id="loadExistingStageplanPopUp" class="popUp hide loadExistingStageplanPopUp">

    <h2>Load existing stageplan</h2>

    <!--
    load pop up
    Only available if signed in

    a list of previous saves which they can click on and load
    -->
    <div class="allStageplans">
        allStage plans
    </div>

    <input type="button" value="Load" id="loadExistingProject" />

    <input type="button" value="cancel" id="cancelLoadExistingProject" />

</div><!--close load stageplan pop up-->
