

<div id="saveUrlPopUp" class="popUp hide saveUrlPopUp">

    <h2>Congratulations</h2>

    <p>Your stage plan has been saved <img src="~/Content/MainSite/Images/Happy-Emotion.png" /></p>
    <p>Your unique URL is:</p>
    <div class="urlBox">
        <span id="savedStagePlanUrl"></span>
    </div>
    <br />
    <br />
    <input type="button" value="Close" id="cancelSaveUrlPopUp" />

</div><!--close save URL pop up-->
