

<div id="showSelectedInstrumentInfo" class="popUp hide">

    <p id="showSelectedInstrumentInfoText"></p>
    
    <input type="button" value="cancel" id="cancelShowSelectedInstrumentInfo" />

</div><!--close info-->
