


<div id="showSuggestionsPopUp" class="popUp hide showSuggestionsPopUp">

    <h2>Suggestions</h2>

    <div class="infoBox">
        <textarea placeholder="Please enter suggestons or issues"></textarea>
    </div>

    <div class="captcha">
        <img  id="captcha_suggestions" /><br />@*ToDo add javascript captcha*@
        <input type="text" placeholder="Enter captcha" class="captchaTextBox" />
    </div>

    <input type="button" value="Send" id="sendSuggestionsButton" />
    <input type="button" value="cancel" id="cancelSuggestionsPopUp" />


</div><!--close Show Suggestions PopUp-->
