

<div id="signUpPopUp" class="popUp hide signUpPopUp">

    <h2>Create your free account</h2>

    <div>
        <input type="text" placeholder="Create your username" id="SignUpUserName" />

    </div>

    <div>
        <input type="text" placeholder="Create your password" id="SignUpPassword" />
    </div>

    <div>
        <input type="text" placeholder="Your name" id="SignUpName" />
    </div>

    <div>
        <input type="text" placeholder="Your email" id="SignUpEmail" />
    </div>

    <div>
        <input type="text" placeholder="Your country" id="SignUpCountry" />
    </div>

    <div class="captcha">
        <img id="captcha_signUp" /><br />@*ToD0 add javascript catpcha*@
        <input type="text" placeholder="Enter captcha" class="captchaTextBox" />
    </div>

    <input type="button" value="Sign up" id="signUp" />

    <input type="button" value="cancel" id="cancelSignUp" />

</div><!--close sign in-->
