

<div id="signInPopUp" class="popUp hide signInPopUp">

    <h2>Sign in to your account</h2>

    <div>
        <input type="text" placeholder="Your username" id="SignInUserName" />

    </div>

    <div>
        <input type="text" placeholder="Your password" id="SignInPassword" />
    </div>

    <input type="button" value="Sign in" id="signInButton" />

    <input type="button" value="cancel" id="cancelSignIn" />

</div><!--close sign in-->
