
body {
    padding: 0;
    margin: 0;
    background-color: #fff;
    font-family: Tahoma, Geneva, sans-serif;
    letter-spacing: .08em;
}

header {
    background-color: #18a0ec;
}

section {
    max-width: 1180px;
    margin: 0 auto;
    padding: 1.5%;
}

.logo img {
    margin: .4%;
    float: left;
}

nav, .footerNav {
    color: #fff;
    float: left;
    padding-top: 20px;
}

    nav ul li {
        display: inline-block;
        text-decoration: none;
        padding-left: 20px;
    }

footer {
    background-image: url("/Content/MainSite/Images/MixingDesk.jpg");
    max-width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    padding: 2%;
    color: #fff;/* <- Don't forget to remove the colour once the link is working TODO*/
}
footer ul li{
    margin-right: 2%;
    float:left;
}