
@{
    ViewBag.Title = "About";
}

<div class="mainImage">
    <img src="~/Content/MainSite/Images/MixingDesk-Mic.jpg" />
</div>

<section class="about">
    <h1>So, who are we then</h1>
    <p>We are just a bunch of musicians who needed a free way to create a stage plan. A stage plan which was easy to use, easily to share and free. The good news is although we are musicians, we also know some musicians who also build websites!</p>
    <p>From time to time we came across some online stage plans but they were either expensive or they didn't do what we wanted. So instead of complaining, we did it ourselves and invite you all to join us.</p>
    <p>We're no different to you. We are musicians and we play gigs. We work with venues and sound engineers. In fact we also have sound engineers on our team here. So what we wanted was:</p>
    <ul>
        <li>A free way to creae a stage plan (or stage plot depending on your terminology).</li>
        <li>A free easy way to create the stage plan... Not everone is computer savvy!</li>
        <li>A free easy way to share the plan with an engineer, venue or other musicians.</li>
        <li>Oh, and we wanted it to be free <img src="~/Content/MainSite/Images/Happy-Emotion.png" /></li>
    </ul>
    <p>&nbsp;</p>
    <p>Of course we'd love to hear your @Html.ActionLink("feedback","Contact","Home") and ideas for improving the site. Otherwise why wait, go on and @Html.ActionLink("create a stage plan for your band","Index","Stageplan").</p>
</section>
