
@{
    ViewBag.Title = "Blog";
}

<div class="mainImage">
    <img src="~/Content/MainSite/Images/Venue.jpg" />
</div>

<section>
    <h1>Stage plan Vs Stage plot</h1>
    <p>Use our  @Html.ActionLink("stage plan builder", "Index", "Stageplan") to create the exact stage plot for your gig. After that all you need to do is send the provided URL to the engineer of the venue. You can enter your instruments, monitors DI boxes and provide full details of what you want. </p>
    <p>You don't need to provide your email address or sign up. It's all free.</p>
    <p>Create as many stage plans as you like. It's free, extremely easy and quick.</p>
</section>

<section>
    <h1>What an engineer wants to know</h1>
    <p>Use our  @Html.ActionLink("stage plan builder", "Index", "Stageplan") to create the exact stage plot for your gig. After that all you need to do is send the provided URL to the engineer of the venue. You can enter your instruments, monitors DI boxes and provide full details of what you want. </p>
    <p>You don't need to provide your email address or sign up. It's all free.</p>
    <p>Create as many stage plans as you like. It's free, extremely easy and quick.</p>
</section>
