@model Stage_plan.Bll.SubscriptionPreferences

@{
    ViewBag.Title = "Home Page";
}

<div class="mainImage">
    <img src="~/Content/MainSite/Images/Live-Event.jpg" />
</div>

<section>
    <h1>Create a stage plan</h1>
    <p>Use our  @Html.ActionLink("stage plan builder", "Index", "Stageplan") to create the exact stage plot for your gig. After that all you need to do is send the provided URL to the engineer of the venue. You can enter your instruments, monitors DI boxes and provide full details of what you want. </p>
    <p>You don't need to provide your email address or sign up. It's all free.</p>
    <p>Create as many stage plans as you like. It's free, extremely easy and quick.</p>

</section>

<article class="quickTutorial">
    <section>
        <h2>How to make a stage plan</h2>
        <ol>
            <li>
                @Html.ActionLink("Create a free stage plan.", "Index", "Stageplan")
            </li>
            <li>
                Add instruments, monitors etc and descriptions.
            </li>
            <li>
                View and modify your stage plan.
            </li>
            <li>
                Save your stage plan (for free).
            </li>
            <li>
                Enter your band name.
            </li>
            <li>
                Send the unique URL to your band mates/venue/engineer.
            </li>
            <li>
                Oh, did we mention it's free? <img src="~/Content/MainSite/Images/Happy-Emotion.png" />
            </li>
        </ol>
    </section>
</article>

<section>
    
    <div class="roadMapSignUp">
    <article class="roadMap">
        <p class="title">Road map</p>
        <ol>
            <li>Export to PDF</li>
            <li>Save and load stage plans</li>
            <li>Rating system</li>
            <li>Android app</li>
            <li>Tutorials</li>
        </ol>
    </article>
   
    <article class="signUp">
        <p class="title">Sign up</p>
        <p>Sign up and get emails for any new features.</p>
        @using (Html.BeginForm("OptinRequest", "Home"))
            {
            @Html.TextBoxFor(a => a.Name, new { @placeholder = "Name", @class = "name" }) <br />

            @Html.TextBoxFor(a => a.EmailAddress, new { @placeholder = "Email", @class = "email" })<br />

         
            <div class="center">
                <input type="submit" value="Submit" />
            </div>
        }
    </article>
    </div>
    <div class="clearBoth"></div>
</section>