
@{
    ViewBag.Title = "Privacy_Policy";
}


<section>
    <h1>Privacy Policy</h1>

    <p>
        www.stage-plan.com is committed to protecting any personal information that you may provide to us. Further, www.stage-plan.comrecognizes the importance of informing you how we treat information about you that we may receive from this site.
    </p>

    <p>This policy applies only to Little Monster Sites  Limited' Sites and not to other Web sites which you might visit by following a link from our sites. We encourage you to review each third party's site's privacy policies before disclosing any information to that site.</p>

    <p class="title">How much personal information do I have to give you?</p>
    <p>In general, you can visit this site without telling us who you are or revealing any information about yourself. Our web servers may collect the domain names, but not the e-mail addresses, of visitors. In addition, there are portions of this site where we may need to collect personal information from you for a specific purpose, such as to provide you with certain information you request. The information collected from you may include your name, address, telephone, fax number, or e-mail address. You may refuse any request for personal information. This site is not intended for persons under 13 years of age. We do not knowingly solicit or collect personal information from or about children, and we do not knowingly market our products or services to children.</p>

    <p class="title">How long do you keep my information for?</p>
    <p>We may keep contact information about information requesters as long as we deem it necessary to fulfil the requests, maintain records of delivered information, or conduct customer service, sales, and marketing activities, unless and until an individual or that individual's employer requests that we delete the information.</p>

    <p class="title">Is my information secure?</p>
    <p>No system, especially a system connected to the Internet, can be guaranteed to be secure, but we follow generally accepted practices of physical, network, and operational security to safeguard our data, including information we may collect from site visitors and information requesters. Workers who misuse personal information are subject to disciplinary action.</p>

    <p class="title">Will you monitor where I go?</p>
    <p>www.stage-plan.comuses Google Analytics, a web analytics service provided by Google, Inc. ("Google").</p>

    <p class="title">Will you share my information with others?</p>
    <p>www.stage-plan.comdoes not share, sell, or lease personal information about you to any third-parties for their marketing use other than those listed on this page. www.stage-plan.comwill release information about you if you direct it to do so, if www.stage-plan.comis required by law to do so, or in other legally limited circumstances.</p>

    <p class="title">How do I find out about changes to your privacy policy?</p>
    <p>Please check this privacy policy periodically to inform yourself of any changes. Although www.stage-plan.comreserves the right to modify or supplement this privacy policy, www.stage-plan.comwill provide notice to you on this site of any major changes for at least 30 days following the change.</p>

    <p>For purposes of the EU Data Protection Directive, the data controller collecting and maintaining the data described in this Privacy Statement for the domain www.stage-plan.com is Little Monster Sites  Limited. The data controller may be contacted at https://www.stage-plan.com/Home/Contact.</p>

    <p class="title">How do I contact you?</p>
    <p>
        We do not want to send marketing communications to you if you do not want to receive them.
        If you do not then you can let us know by emailing us via our contact page at <a href="https://www.stage-plan.com/home/contact">https://www.stage-plan.com/home/contact</a> or @Html.ActionLink( "unsubscribe",  "SubscriptionPreferences", "Home"). Please note, it can take up to 28 days to remove you from our list during which time, it is possible you may receive additional mails whilst we process your request.
    </p>


    <p class="title">Do you use cookies</p>

    <p>Cookies are information packets sent by web servers to web browsers, and stored by the web browsers.The information is then sent back to the server each time the browser requests a page from the server. This enables a web server to identify and track web browsers.There are two main kinds of cookies: session cookies and persistent cookies. Session cookies are deleted from your computer when you close your browser, whereas persistent cookies remain stored on your computer until deleted, or until they reach their expiry date.</p>

    <p class="lightBold">Managing & Removing Cookies</p>

    <p>If you wish to restrict or block the cookies which are set by the www.stage-plan.comwebsite, or indeed any other website, you can do this through your browser settings. The help function within your browser should tell you how.</p>

    <p>Alternatively, you may wish to visit www.aboutcookies.org which contains comprehensive information on how to do this on a wide variety of browsers. You will also find details on how to delete cookies from your computer as well as more general information about cookies. For information on how to do this on the browser of your mobile phone you will need to refer to your handset manual. Please be aware that restricting cookies may impact on the functionality of the Little Monster Sites   Limited website.</p>


</section>

