
@{
    ViewBag.Title = "Subscrition preferences";
}

<div class="mainImage">
    <img src="~/Content/MainSite/Images/Live-Venue.jpg" />
</div>
<section>
    <h1>Subscription preferences</h1>
    @using (Html.BeginForm("Contact", "Home"))
            {
        @Html.TextBoxFor(a => a.Name, new { @placeholder = "Name", @class = "name" }) <br />

        @Html.TextBoxFor(a => a.Email, new { @placeholder = "Email", @class = "email" })<br />

        @Html.TextBoxFor(a => a.Verification, new { @placeholder = "3 + 4 = ? Type the answer", @class = "verification" })<br />

                @Html.TextAreaFor(a => a.Message, new { @class = "message", placeholder = "Type your message" })<br /><br />

                <div class="center">
                    <input type="submit" value="Submit" />
                </div>
    }
</section>
