
@{
    ViewBag.Title = "Thank You!";
}

<div class="mainImage">
    <img src="~/Content/MainSite/Images/Live-Venue.jpg" />
</div>
<section>
    <div class="column-8 clearAndExpandIfSmall">
        @Html.Raw(ViewBag.Message)
        </div>
    <img src="~/Content/MainSite/Images/Guitarist.png" />
</section>